@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');



.mainMissionInfo{
    margin-left: 60px;
    border: 2px solid gray;
    width: 50vw;

}
.MissionnesteDiv{

}

